.character {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  translate: -50% -50%;
  z-index: 10;
  transition: 0.2s;
}

.character.player {
  background-color: lightgreen;
}

.character.enemy {
  background-color: red;
}